<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post an issue on a Github repo</title>
  <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
  <form action="/raiseissue">
    <label for="username">Username</label>
    <input type="text" name='username'>
    <label for="Password">Password</label>
    <input type="password" name='password'>
    <label for="title">Issue title</label>
    <input type="text" name='title'>
    <label for="description">Issue description</label>
    <textarea name='description' id="" cols="30" rows="10"></textarea>
    <input type='submit' value='Post issue' >
  </form>
</body>
</html>
